.wrap {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  label {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .labelText {
      display: flex;
      margin-bottom: 5px;
    }
    .textStar{
      display: flex;
      .emailAddress{
        display: flex;;
        color:  rgba(27, 43, 65, 0.72);
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .star{
        color: red;
      }
    }
    .input{
      position: relative;
      padding: 0 20px 0 20px;
      outline: inherit;
      margin-top: 10px;
      height: 57px;
      flex-shrink: 0;
      border-radius: 3px;
      border: 1px solid rgba(28, 55, 90, 0.16);
      &:hover{
        border: 1.5px solid #1676F3;
      }
    }

    .imgWrap {
      position: absolute;
      //top: 15px;
      //right: 10px;

      .hidden {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 15px;
        right: 10px;
        border: none;
      }
    }



  }

}




