.signUpWrap{
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
  margin-top: 30px;
  .errorValidation{
    color: red;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;

    .emptyInput {
      border: 1px solid red;
    }
  }

}

